@font-face {
    font-family: 'Determination Sans Web';
    src: url('assets/fonts/DTSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'Determination Mono Web';
    src: url('assets/fonts/DTMonoWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

body {
    font-size: medium;
    font-family: 'Determination Sans Web', sans-serif;
    color: #ffffff;
    background-color: #000000;
};

h1 {
    font-family: 'Determination Mono Web', monospace;
    font-size: 2.5em; 
    color: #ffdd00;
};