@font-face {
    font-family: 'Determination Mono Web';
    src: url('assets/fonts/DTSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Determination Mono Web', sans-serif;
    color: #ffffff;
    background-color: #23272a;
};